.hydir-settings-page {
  margin-top: 20px;
}

.hydir-settings-header {
  display: flex;
  align-items: center;
}

.hydir-settings-header .hydir-logo {
  float: left;
  margin-right: 30px;
}

.hydir-settings-content {
  max-width: 800px;
}

.hydir-settings-page button a {
  text-decoration: none;
}

.hydir-settings-page button a {
  color: black;
}

.hydir-settings-page button a:hover {
  color: white;
}

.hydir-settings-page button {
  background-color: #68c5ed;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.hydir-settings-page button {
  background-color: white;
  color: black;
  border: 2px solid #68c5ed;
}

.hydir-settings-page button:hover {
  background-color: #68c5ed;
  color: white;
}

.hydir-settings-page button a {
  text-decoration: none;
}

/* Table  */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-1tol {
  border-color: #000000;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.tg .tg-0a7q {
  border-color: #000000;
  text-align: left;
  vertical-align: middle;
}

.tg .tg-73oq {
  border-color: #000000;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }

  .tg col {
    width: auto !important;
  }

  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
